.stationInfomationContainer {
  width: 100%;
  max-width: 500px;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 72px;
  z-index: 999;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;

  .stationInfomationBox {
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    background-color: #fff;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    margin: 16px;
    margin-top: 0;
    border-radius: 8px;
  }

  .stationChangeButton {
    font-size: 24px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: none;
    background-color: transparent;
  }

  .station {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    p,
    h2 {
      margin: 0;
    }
  }
}
