.realTimeBusInfoBox {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  box-sizing: border-box;

  .realTimeBusInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);

    p {
      margin: 0;
      height: 60px;
      border-top: 1px solid #eaeaea;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .timeInfo {
      width: 100%;
      box-sizing: border-box;
      padding: 16px 64px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .arrivalInfo {
      width: 100%;
      display: flex;
      justify-content: space-around;
      padding: 16px;
      box-sizing: border-box;
      border-top: none;
    }
  }
}
