.card {
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    padding: 32px;
    display: flex;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    justify-content: space-between;
    background-color: white;
}

.card p{
    margin: 0;
}

.card .busBox, 
.card .timeBox {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}


.card .busBox p:nth-child(1) {
    font-size: 24px;
    font-weight: bold;
    color: red;
}
/* .card .busBox p:nth-child(2) {
} */

.card .timeBox p:nth-child(1) {
    font-size: 24px;
    font-weight: bold;
}
.card .timeBox p:nth-child(2) {
    color: blue;
}

.card[data-state=disable]{
    background-color: #eaeaea;
}

.card[data-state=disable] p {
    color: gray !important;
}
