.footer {
  width: 100%;
  min-height: 100px;
  height: 100px;
  position: relative;
  transform: translateY(calc(-100% + 100px));
  background-color: #333333;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  p {
    margin: 0;
  }
}
